.alert {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(255, 72, 72);
  border-left: solid 1rem #ff9f9f;
  color: white;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.alert--open {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 25rem;
  line-height: 1.5;
}

.alert__icon {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
}

.close {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  fill: var(--secondary-color);
}
