.internship {
  position: relative;
  z-index: 1;
  background-color: white;
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  border-left: solid 1rem #ececec;
  margin-bottom: 2rem;
}

.internship_crop {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.internship__img {
  width: 5rem;
  height: 5rem;
  fill: var(--secondary-color);
}

.internship__list {
  width: 100%;
}
