:root {
  --primary-color: #0085ff;
  --primary-text-color: white;
  --secondary-color: #004280;
  --secondary-text-color: white;
  --accent-color: #96ccff;
  --accent-text-color: white;
}

#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 29rem;
}

.login__heading {
  margin-bottom: 2rem;
}

.login__logo {
  width: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.container-flex {
  display: flex;
  width: 100%;
}

.container-flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pb-4 {
  padding-bottom: 4rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem;
  width: 100%;
  background-color: rgb(243, 243, 243);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navbar__toggle {
  width: 3rem;
}

.navbar__items {
  height: 0;
  overflow: hidden;
  transition: height 0.5s, padding 0.5s;
}

.navbar__items-open {
  padding: 2rem;
  height: 13rem;
  transition: height 0.5s, padding 0.5s;
}

.navbar__item {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0.5rem;
}

.navbar__item-logout {
  color: var(--secondary-color);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.profile__crop {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.profile__img {
}

.profile__edit {
  width: 1.5rem;
  margin: 0.5rem 0;
}

.internships__item {
  background-color: rgb(243, 243, 243);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  border-left: solid 1rem var(--primary-color);
  margin-bottom: 1rem;
}
