:root {
  --primary-color: #f3f3f3;
  --primary-text-color: black;
  --secondary-color: #004280;
  --secondary-text-color: white;
  --accent-color: #ff9e00;
  --accent-text-color: white;
  --success-color: #64cc6f;
}

#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
}

.app__container {
  width: 100%;
}

.app__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 5rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--secondary-color);
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.login__heading {
  margin-bottom: 2rem;
}

.login__logo {
  width: 0.5rem;
  fill: var(--secondary-color);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  width: 100%;
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 5px;
}

.navbar__toggle {
  width: 3rem;
  height: 3rem;
  fill: var(--secondary-color);
}

.navbar__items {
  height: 0;
  overflow: hidden;
  transition: height 0.5s, padding 0.5s;
}

.navbar__items-open {
  padding: 2rem;
  height: 11rem;
  transition: height 0.5s, padding 0.5s;
}

.navbar__item {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 0.5rem;
}

.navbar__item-logout {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
}

.profile-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile__crop {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.profile-cta {
  margin-top: 3rem;
  width: 100%;
}

.profile__edit {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--secondary-color);
  margin-top: 1rem;
}

.internships {
  width: 100%;
}

.internships__item {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  border-left: solid 1rem var(--primary-color);
  margin: 1rem 0;
}

.back {
  position: absolute;
  left: 0;
  margin-top: 2rem;
}

.back__img {
  fill: var(--secondary-color);
  width: 1.5rem;
  height: 1.5rem;
}

.link {
  color: var(--accent-color);
  margin: 0.5rem 0;
}

@media screen and (min-width: 750px) {
  .app {
    padding-bottom: 5rem;
  }

  .app__container {
    flex-direction: row;
  }

  .navbar {
    position: relative;
    flex-direction: row;
    justify-content: center;
  }

  .navbar__toggle {
    display: none;
  }

  .navbar__items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 50rem;
    height: auto;
  }
}
