:root {
  --primary-color: #f3f3f3;
  --primary-text-color: black;
  --secondary-color: #004280;
  --secondary-text-color: white;
  --accent-color: #ff9e00;
  --accent-text-color: white;
  --success-color: #64cc6f;
}

#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.back {
  position: absolute;
  left: 0;
  margin-top: 2rem;
}

.back__img {
  fill: var(--secondary-color);
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  height: 2rem;
  margin-bottom: 1rem;
  fill: var(--secondary-color);
}

.link {
  color: var(--accent-color);
  margin: 0.5rem 0;
}

.circle-1,
.circle-2 {
  display: none;
}

@media screen and (min-width: 750px) {
  .app {
    padding-bottom: 5rem;
  }

  .circle-1,
  .circle-2 {
    display: block;
    position: fixed;
    z-index: 0;
  }

  .circle-1 {
    width: 50rem;
    height: 50rem;
    left: -25rem;
    top: 0;
  }

  .circle-2 {
    width: 30rem;
    height: 30rem;
    right: -15rem;
    bottom: 0;
  }
}
